@model SalarySystemWebApplication.Models.launalidurModel
<h3>Stillingar fyrirtækis</h3>
<hr />
<div class="panel panel-default">
    <div class="panel-heading">Breyta frádráttarlið</div>
    <div class="panel-body">
        <div class="container">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "taxOfficeform" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.AntiForgeryToken()
                <div class="row row-m-t">
                    <div class="col-sm-4">
                        <label>Heiti</label>
                    </div>
                    <div class="col-sm-4">
                        <label>Lýsing</label>
                    </div>
                </div>
                <div class="row row-m-t">
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.heiti, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.heiti, "", new { @class = "text-danger" })

                    </div>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.skyring, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.skyring, "", new { @class = "text-danger" })

                    </div>
                    <div class="col-sm-3">
                        <input type="submit" value="Vista" class="btn btn-default" />
                    </div>
                </div>
                <div class="row row-m-t">
                    <div class="col-sm-4">
                        <label>Gildi</label>
                    </div>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
                <div class="row row-m-t">
                    <div class="col-sm-2">
                        @Html.EditorFor(model => model.gildi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.gildi, "", new { @class = "text-danger" })

                    </div>
                    <div class="col-sm-2">
                        <div class="form-check">
                            @Html.EditorFor(model => model.prosenta, new { htmlAttributes = new { @class = "form-check-input" } })
                            <label class="form-check-label" for="exampleCheck1">%</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-check">
                            @Html.EditorFor(model => model.asedli, new { htmlAttributes = new { @class = "form-check-input" } })
                            <label class="form-check-label" for="exampleCheck1">Birtist á seðli</label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <input type="button" value="Hreinsa" class="btn btn-default" onclick='taxOfficeform.reset();return false;' />
                    </div>
                </div>
            }

        </div>
    </div>
</div>
