@model SalarySystemWebApplication.Models.pensionFundModel

<h3>Lífeyrissjóðir</h3>
<hr />
<div class="panel panel-default">
    <div class="panel-heading">Lífeyrissjóðir</div>
    <div class="panel-body">
        <div class="container">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "unionform" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.AntiForgeryToken()
                <div class="row row-m-t">
                    <div class="col-sm-4">
                        <label>Kennitala</label>
                    </div>
                    <div class="col-sm-4">
                        <label>Nafn</label>
                    </div>
                    <div class="col-sm-4">
                        <label>Heimili</label>
                    </div>
                </div>
                <div class="row row-m-t">
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.personalId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.personalId, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })

                    </div>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="row row-m-t">
                    <div class="col-sm-4">
                        <label>Póstnúmer</label>
                    </div>
                    <div class="col-sm-4">
                        <label>Póstfang</label>
                    </div>
                    <div class="col-sm-4">
                        <label>Sími</label>
                    </div>
                </div>
                <div class="row row-m-t">
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.postalCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.postalCode, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.city, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger" })

                    </div>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.phoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.phoneNumber, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="row row-m-t">
                    <div class="col-sm-4">
                        <label>SAL-Númer</label>
                    </div>
                    <div class="col-sm-4">
                        <label>Iðgjald(%)</label>
                    </div>
                    <div class="col-sm-4">
                        <label>Séreign(%)</label>
                    </div>
                </div>
                <div class="row row-m-t">
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.number, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.number, "", new { @class = "text-danger" })

                    </div>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.premium, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.premium, "", new { @class = "text-danger" })

                    </div>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.privateProperty, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.privateProperty, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="row row-m-t">
                    <div class="col-sm-4">
                        <label>Orlofssjóður(%)</label>
                    </div>
                    <div class="col-sm-4">
                        <label>Sjúkrasjóður(%)</label>
                    </div>
                    <div class="col-sm-4">
                        <label>Starfsmenntun(%)</label>
                    </div>
                </div>
                <div class="row row-m-t">
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.vacationFund, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.vacationFund, "", new { @class = "text-danger" })

                    </div>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.nationalHealth, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nationalHealth, "", new { @class = "text-danger" })

                    </div>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.training, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.training, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="row row-m-t">
                    <div class="col-sm-4">
                        <label>Mótframlag(%)</label>
                    </div>
                    <div class="col-sm-4">
                        <label>Mótfr. Séreign(%)</label>
                    </div>
                </div>
                <div class="row row-m-t">
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.matchingFounds, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.matchingFounds, "", new { @class = "text-danger" })

                    </div>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.privateMatchingFounds, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.privateMatchingFounds, "", new { @class = "text-danger" })

                    </div>
                </div>
                <P></P>
                <div class="row row-m-t">
                    <div class="col-sm-4">

                    </div>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                        <input type="submit" value="Vista" class="btn btn-default" />
                        <input type="button" value="Hreinsa" class="btn btn-default" onclick='unionform.reset();return false;' />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
